@bower_url: "/packages";
@bower_path: "../..@{bower_url}";

// Google fonts
@import "fonts";
@GoogleFont: "Droid Sans";

// Twitter Bootstrap
@import "@{bower_path}/twitter/less/bootstrap";

// jQuery UI
@import "@{bower_url}/jquery-ui/themes/base/minified/jquery.ui.progressbar.min.css";
@import "@{bower_url}/jquery-ui/themes/base/minified/jquery.ui.slider.min.css";
@import "@{bower_url}/jquery-ui/themes/cupertino/jquery-ui.min.css";

@import "mixins";

@fbBlue: #3b5998;

body,
.their-name{
	font-family:"Webly Sleek Semilight", sans-serif;
}

body{
	padding-bottom:1em;
}

h1,h2,h3,h4,h5,h6,.btn, b, strong{
	font-weight:700;
	font-family: '@{GoogleFont}', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.btn,
.their-name{
	font-weight:400;
}

.toggle-control{
	.fa{
		margin-right:.25em;
	}
	&:hover{
		color:@gray;
		cursor:s-resize;
		&.active{
			cursor:n-resize;
		}
	}
}

#automate{
	padding-bottom:2em;
	.group-label{
		padding-top:1em;
	}
	#slider-range{
		margin-bottom:1em;
	}
	.toggle{
		margin-bottom:0;
	}
	.input-sm{
		text-align:center;
	}
	.btn-row{
		padding-top:1em;
		text-align:center;
	}
}

#phraselist{
	padding-bottom:1em;
	text-align:center;
	#phrases{
		.clearfix;
		padding-top:1em;
	}
	a{
		display:inline-block;
		margin-right:5px;
		margin-bottom:5px;
		padding:.25em .5em;
		border:1px solid #efefef;
		text-decoration:none;
		white-space:nowrap;
		font-size:66.6666666666%;
		&:hover{
			background-color:#efefef;
		}
		&:visited,
		&.visited{
			border-color:hsl(0,75%, 50%);
			backround-color:hsl(0,75%,85%);
		}
	}
}

#login{
	padding-top:1.5em;
	color:@gray-light;
	&.active{
		color:inherit;
		a{
			position:relative;
			margin-top:-.25em;
			background-color:@fbBlue;
			background-image:none;
		}
	}
}

.fb_iframe_widget{
	.clearfix;
	margin-bottom:1em;
}

.fb-btn{
	.gradient(#4c69ba, #3b55a0);
	&:hover{
		.gradient(#5b7bd5, #4864b1);
		background-color:lighten(@fbBlue, 10%);
	}
	.fa{
		margin-right:.5em;
	}
}

footer{
	margin-top:2em;
	.btn{
		float:left;
		font-size: 85.7142857%;
	}
}

.ui-slider-horizontal{
	margin-top:1em;
}
.ui-progressbar {
	position: relative;
	margin: 0 1em 1em;
	.progress-label {
		position: absolute;
		top: 4px;
		left: 0;
		width:100%;
		text-align:center;
		text-shadow: 1px 1px 0 #fff;
		font-weight: bold;
	}
}
